.boys-div {
    // background-color: #123c69;
    background-color: #89CFF0;
    color: gray;
    
}
.girls-div {
    // background-color: #ac3b61;
    background-color: pink;
}

.bar-box {
    border-bottom: solid;
}

.ss {
    background-color: pink;
}

.sss {
    color: rgb(65, 64, 64);
    font-size: 20px;
}