.home-page-div {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    .text-div {
        width: 700px;
        text-align: justify;

        h2 {
            text-align: center;
        }
        
        span {
            font-size: 18px;
        }
    }
}

#div-number-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

#div-number-2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 90%;
    border-bottom: solid;
}

