.tally-button-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(65, 64, 64);
}