.category-page {
    position: relative;
    height: 110vh;
  
    .category-side-panel {
      top: 0px;
      position: absolute;
      z-index: 9;
      
    }
  }

.time-log {
  position: absolute;
  top: 400px;
  left: 250px;

}

.class-girls-background {
  background-color: pink;
}

.class-boys-background {
  background-color: #89CFF0;
}